<div class="hand-container">
    <mat-card *ngIf="!cards">
        <mat-card-title>Hand Will Display Here</mat-card-title>
        <mat-card-subtitle>Choose filter and click Deal to view your random hand</mat-card-subtitle>
    </mat-card>

    <div *ngIf="cards" class="cards">
        <mat-card *ngFor="let card of cards">
            <mat-card-content>{{card.suit}}</mat-card-content>
            <mat-card-content>{{card.value}}</mat-card-content>
            <mat-card-content>{{card.suit}}</mat-card-content>
        </mat-card>
    </div>
</div>