<div class="hand-container">
    <mat-card *ngIf="!cards">
        <mat-card-title>YOUR HAND</mat-card-title>
        <mat-card-subtitle>Choose filter and click Deal to view your randomly selected cards</mat-card-subtitle>
    </mat-card>

    <div *ngIf="cards" class="cards">
        <mat-card *ngFor="let card of cards">
            <mat-icon [svgIcon]="card.suit"></mat-icon>
            <mat-card-title>{{card.value}}</mat-card-title>
            <mat-icon [svgIcon]="card.suit"></mat-icon>
        </mat-card>
    </div>
</div>