<section class="app-section">
    <mat-card>
        <mat-card-title>CUSTOMIZE HAND</mat-card-title>
        <mat-card-subtitle>Use the filters to create a custom deal</mat-card-subtitle>
    </mat-card>
    <div class="hand-filters">
        <mat-card>
            <mat-form-field>
                <input matInput type="number" placeholder="Hand Size" [(ngModel)]="handFilters.size" min="1" [max]="maxHandSize">
            </mat-form-field>
        </mat-card>

        <mat-card>
            <mat-form-field class="card-value-select">
                <mat-select placeholder="Min Card Value" (selectionChange)="updateMaxHandSize()" [(ngModel)]="handFilters.min">
                    <mat-option *ngFor="let cardValue of cardValues; let i = index" [value]="cardValue" [disabled]="i > cardValues.indexOf(handFilters.max)">
                        {{cardValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="card-value-select">
                <mat-select placeholder="Max Card Value" (selectionChange)="updateMaxHandSize()" [(ngModel)]="handFilters.max">
                    <mat-option *ngFor="let cardValue of cardValues; let i = index" [value]="cardValue" [disabled]="i < cardValues.indexOf(handFilters.min)">
                        {{cardValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>

        <mat-card>
            <mat-card-subtitle>Select Suits</mat-card-subtitle>
            <mat-checkbox *ngFor="let suit of ['spade', 'club', 'diamond', 'heart']" 
                        [(ngModel)]="handFilters.suits[suit]"
                        (change)="updateMaxHandSize()" 
                        class="suit-check"
                        [aria-label]="'suit-' + suit">
                <mat-icon [svgIcon]="suit"></mat-icon>
            </mat-checkbox>
        </mat-card>
    </div>
    <button mat-raised-button
            class="draw-btn" 
            color="primary"
            (click)="onSubmit()" 
            [disabled]="handFilters.size > maxHandSize">
        Draw
    </button>
</section>

<mat-divider></mat-divider>

<section class="app-section">
    <app-hand [cards]="hand"></app-hand>
</section>
