<mat-toolbar>
  <span>Angular Card Dealer</span>
</mat-toolbar>
<section class="create-hand">
  <mat-card>
    <mat-card-title>CUSTOMIZE HAND</mat-card-title>
    <mat-card-subtitle>Use the filters to create a custom deal</mat-card-subtitle>
  </mat-card>

  <mat-form-field>
    <input matInput type="number" placeholder="Hand Size"
           [(ngModel)]="handFilters.size">
  </mat-form-field>

  <mat-card>
    <mat-form-field>
      <mat-select placeholder="Min Card Value"
                  [(ngModel)]="handFilters.min">
        <mat-option *ngFor="let cardValue of cardValues" [value]="cardValue">
          {{cardValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Max Card Value"
                  [(ngModel)]="handFilters.max">
        <mat-option *ngFor="let cardValue of cardValues" [value]="cardValue">
          {{cardValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Select Suits</mat-card-subtitle>
    <mat-checkbox [(ngModel)]="handFilters.suits.spade" class="suit-check">Spade</mat-checkbox>
    <mat-checkbox [(ngModel)]="handFilters.suits.club" class="suit-check">Club</mat-checkbox>
    <mat-checkbox [(ngModel)]="handFilters.suits.diamond" class="suit-check">Diamond</mat-checkbox>
    <mat-checkbox [(ngModel)]="handFilters.suits.heart" class="suit-check">Heart</mat-checkbox>
  </mat-card>

  <button mat-fab color="primary" (click)="onSubmit()">Deal</button>
</section>